* {
    cursor: none;
}
body {
    font-family: 'Chakra Petch', sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: non;
}
.inner-cursor {
    position: fixed;
    left: 10px;
    width: 74px;
    height: 74px;
    transform: translate(-50%, -50%);
    background-color: rgb(225 29 72);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: none;
    mix-blend-mode: difference;
}
.inner-cursor.grow {
    width: 74px;
    height: 74px;
}
.am-header nav {
    background: linear-gradient(180deg, rgba(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0.5) 50%, rgba(17, 24, 39, 0) 100%);
}
 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .inner-cursor {
        display: none;
    }
}
